@media (max-width: 770px) {
.hiddenC {
display: none;
}
.pxSM{
    padding-right: 8px;
    padding-left: 8px;
}
.layoutSM{
    width: 100%;
}

.topSM{
    margin-top: 150px;
}
.fontSM{
    font-size: 12px;
}
}
/* Quy tắc cho màn hình từ 640px đến 1024px */
@media (min-width: 670px) and (max-width: 1024px) {
  .widthMD{width: 220px;} 
  }

